pkgbase = subconverter-git
	pkgdesc = Utility to convert between various subscription format
	pkgver = 0.7.1.r8.g3fe9725
	pkgrel = 2
	url = https://github.com/tindy2013/subconverter
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = rapidjson
	makedepends = toml11-git
	makedepends = quickjspp
	makedepends = libcron
	depends = curl
	depends = libevent
	depends = yaml-cpp
	provides = subconverter
	conflicts = subconverter
	source = subconverter::git+https://github.com/tindy2013/subconverter.git
	source = 0001-Explicitly-link-with-libdl.patch
	source = 0002-fix-buffer-size.patch
	source = subconverter.service
	sha256sums = SKIP
	sha256sums = e0555eb211e1eac2e1dccf64c970d4d5f42952a876b6043628c6ab8b47786e50
	sha256sums = e491b58e2abb317be9dce35974dfd5e6aebb27a3fb3d2fa7667d76c803c2be30
	sha256sums = d264ff72eca2668312a70583eecd8e5c7fd674df025f3da4ba11bdf308c8c5b1

pkgname = subconverter-git
